section.chargingNet 
    .container 
        +title('Сеть зарядок')
    .chargingNet-mapTemp 
        iframe.map__iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d103515.51590996735!2d39.514707901383474!3d52.59841946160967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LvQuNC_0LXRhtC6INC30LDQv9GA0LDQstC60Lg!5e0!3m2!1sru!2sby!4v1626982135857!5m2!1sru!2sby', style='border:0;', allowfullscreen='', loading='lazy')
    .container 
        form#form.chargingNet-form 
            img.chargingNet-form-img(src="./img/chargin-form-image.jpg",  loading="lazy", alt="form image")
            .chargingNet-form-group 
                h4.chargingNet-form-title Где открыть следующую станцию подзарядки?
                h5.chargingNet-form-subtitle Есть идеи, напишите нам.
                .input-croup
                    input#name.chargingNet-form-input.invalid(type="text", name="name", placeholder="Имя" data-name="Имя")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                .input-croup
                    input#telephone.chargingNet-form-input.invalid(type="tel", name="telephone", placeholder="Телефон")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                .input-croup
                    textarea#message.chargingNet-form-textarea.invalid(name="message", data-name="Место для новой зарядной станции" cols="30", rows="10", placeholder="Место для новой зарядной станции" )
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                label.custom__checkbox.invalid(for='checkbox') Да, мне было бы удобно заряжаться в предложенном мной месте
                    input#checkbox(type='checkbox' name='checkbox')
                    span.checkmark

                input.btn(type="submit", value="Отправить")
