.map{
    .map-img{
        background-image: url('../img/map-temp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 785px;
    }
    
}