section.map 
    .container
        +title('Карта электрозаправок')
    iframe.map__iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d103515.51590996735!2d39.514707901383474!3d52.59841946160967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LvQuNC_0LXRhtC6INC30LDQv9GA0LDQstC60Lg!5e0!3m2!1sru!2sby!4v1626982135857!5m2!1sru!2sby', style='border:0;', allowfullscreen='', loading='lazy')
