.cars{
    .container{
        .cars-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 60px;
            .card{
                width: 368px;
            }
        }
        .btn.red{
            display: block;
            max-width: 263px;
            margin: 0 auto;
            margin-bottom: 8.7%;
        }
    }
}