section.cars
    .container 
        +title('Электромобили в Липецке ')
        .cars-cards 
            +card('BMW.jpg','2019 BMW i3','rwd','350 км + ДВС','5177 миль','2019','15800 $')
            +card('tesla.jpg','2018 Tesla Model 3 Mid','rwd','420 км','15534 миль','2018','16800 $')
            +card('chevrolet.jpg','2016 Chevrolet Volt II','fwd','85 км + ДВС','26097 миль','2016','16800 $')
        +button('Посмотреть все автомобили','#','red')