.cars{
    .container{
        .cars-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5%;
            @include media-custom(1250px){
                justify-content: space-evenly;
            }
            .card{
                width: 368px;
              margin-right: 10px;
              margin-bottom: 20px;
              @include media-custom(600px){
                margin-right: 0;
            }
            }
            
        }
        .btn.red{
            display: block;
            max-width: 263px;
            margin: 0 auto;
            margin-bottom: 8.7%;
        }
    }
}