section.questions 
    .container 
        +title('Справочный центр')
        +button('Задать вопрос','question-form.html','')
        +title('Часто задаваемые вопросы')
        .questions-blocks
            .questions-block.open
                h4.questions-block-title Электромобиль – это очень сложная и полностью отличающаяся от обычного авто штука?
                p.questions-block-text Электромобили сконструированы и испытаны в соответствии со всеми действующими стандартами безопасности. Проверенные годами сертификации и тесты подтверждают: защита водителя и пассажиров будет максимальной. "В новых испытаниях Model X получил наивысший балл" - заявляют представители компании Tesla. Euro NCAP поставила кроссоверу 37.5 баллов из 38 возможных за защиту взрослых пассажиров. Отдельно комиссия отметила высокую эффективность систем экстренного торможения.
                img(src="./img/question-arrow.svg", alt="arrow")
            .questions-block
                h4.questions-block-title Электромобили проигрывают обычным авто с ДВС?
                p.questions-block-text Электромобили сконструированы и испытаны в соответствии со всеми действующими стандартами безопасности. Проверенные годами сертификации и тесты подтверждают: защита водителя и пассажиров будет максимальной. "В новых испытаниях Model X получил наивысший балл" - заявляют представители компании Tesla. Euro NCAP поставила кроссоверу 37.5 баллов из 38 возможных за защиту взрослых пассажиров. Отдельно комиссия отметила высокую эффективность систем экстренного торможения.
                img(src="./img/question-arrow.svg", alt="arrow")
            .questions-block
                h4.questions-block-title Электромобили имеют повышенную опасность?
                p.questions-block-text Электромобили сконструированы и испытаны в соответствии со всеми действующими стандартами безопасности. Проверенные годами сертификации и тесты подтверждают: защита водителя и пассажиров будет максимальной. "В новых испытаниях Model X получил наивысший балл" - заявляют представители компании Tesla. Euro NCAP поставила кроссоверу 37.5 баллов из 38 возможных за защиту взрослых пассажиров. Отдельно комиссия отметила высокую эффективность систем экстренного торможения.
                img(src="./img/question-arrow.svg", alt="arrow")
            .questions-block
                h4.questions-block-title Чтобы управлять электромобилем, необходимо водительское удостоверение со специальной категорией?
                p.questions-block-text Электромобили сконструированы и испытаны в соответствии со всеми действующими стандартами безопасности. Проверенные годами сертификации и тесты подтверждают: защита водителя и пассажиров будет максимальной. "В новых испытаниях Model X получил наивысший балл" - заявляют представители компании Tesla. Euro NCAP поставила кроссоверу 37.5 баллов из 38 возможных за защиту взрослых пассажиров. Отдельно комиссия отметила высокую эффективность систем экстренного торможения.
                img(src="./img/question-arrow.svg", alt="arrow")
            .questions-block
                h4.questions-block-title Как узнать, сколько электроэнергии потребляет электромобиль при его зарядке и насколько дорого он обходится в эксплуатации?
                p.questions-block-text Электромобили сконструированы и испытаны в соответствии со всеми действующими стандартами безопасности. Проверенные годами сертификации и тесты подтверждают: защита водителя и пассажиров будет максимальной. "В новых испытаниях Model X получил наивысший балл" - заявляют представители компании Tesla. Euro NCAP поставила кроссоверу 37.5 баллов из 38 возможных за защиту взрослых пассажиров. Отдельно комиссия отметила высокую эффективность систем экстренного торможения.
                img(src="./img/question-arrow.svg", alt="arrow")
                





