section.advantages
    .container 
         +title('Преимущества электротранспорта')
         .advantages-cards
            .advantages-card
                img(src="./img/eco-icon.svg",  loading="lazy", alt="eco icon")
                .advantages-card-content 
                    h3.advantages-card-title Экологичность
                    p.advantages-card-text Экологически чистый транспорт не загрязняет окружающую среду лишним шумом, выхлопными газами и другими вредными выбросами. Большое количество электромобилей благоприятно сказывается         на экологии больших городов     с насыщенным трафиком.
            .advantages-card
                img(src="./img/ergo-icon.svg",  loading="lazy", alt="ergo icon")
                .advantages-card-content 
                    h3.advantages-card-title Эргономичность
                    p.advantages-card-text Благодаря отсутствию ДВС,в салоне электрического авто больше места. Также, зачастую, электромобили имеют два багажника: спереди          и сзади, что является довольно весомым аргументом в пользу электромобилей, как семейных авто.
            .advantages-card
                img(src="./img/safe-icon.svg",  loading="lazy", alt="safe icon")
                .advantages-card-content 
                    h3.advantages-card-title Безопасность
                    p.advantages-card-text Чаще всего, в электромобилях используются инновационные технологии, и отрасль безопасноти не исключение. Помимо этого, благодаря отсутсвию топливного бака и, как следствие, сгораемого топлива в автомобиле, уменьшается риск возгораний и пожаров.
            .advantages-card
                img(src="./img/advantage-icon.svg",  loading="lazy", alt="advantage icon")
                .advantages-card-content 
                    h3.advantages-card-title Топливное преимущество
                    p.advantages-card-text Электричество гораздо дешевле привычного нам, сгораемого, топлива. Также, электродвигатель признается более надежным и беспроблемным, по сравнению с ДВС.
            .advantages-card
                    img(src="./img/simple-icon.svg",  loading="lazy", alt="simple icon")
                    .advantages-card-content 
                        h3.advantages-card-title Простой сервис
                        p.advantages-card-text "Зелёные" автомобили не требуют замены расходников, характерных для бензиновых и дизельных авто. Благодаря этому плановое ТО для авто на электротяге довольно простое: диагностика ходовой, батареи и программные обновления.
            .advantages-card
                img(src="./img/benefit-icon.svg",  loading="lazy", alt="benefit icon")
                .advantages-card-content 
                    h3.advantages-card-title Выгода использования
                    p.advantages-card-text Наличие электрического, и другого "зелёного" транспорта, позволяет сэкономить на топливе, запчастях и тех.обслуживании. Также, государство предлагает некоторые льготы и послабления для владельцев таких авто.
