section.newsArticle 
    .container 
        +title('У хэтчбeка Chevrolet Bolt появился собрат-кроссовер: Chevrolet Bolt EUV.')
        .newsArticle-content 
            h4.newsArticle-content-subtitle Две версии Chevrolet Bolt: хэтчбек EV и кроссовер EUV.
            p.newsArticle-content-text С 2021 года помимо привычного хэтчбека Bolt EV покупатели могут приобрести и псевдо-кроссовер Bolt EUV. Он выше и длиннее своего собрата: колесная база увеличена до 2675 мм, а за счет более высокой посадки запас места в салоне стал больше.
            img.newsArticle-content-img(src="./img/chev-bolt-1.jpg", alt="Chevrolet Boltv")
            h4.newsArticle-content-subtitle Цены - вниз.
            p.newsArticle-content-text Рестайлинговый Chevrolet Bolt порадовал поклонников не только обновленной внешностью, продвинутыми дорожными “ассистентами”, но и скидками. Снижены цены на все версии: базовая версия Bolt EV подешевела сразу на $5000, и теперь стоит от $31995. Кроссовер Bolt EUV чуть дороже - от $33995.
            img.newsArticle-content-img(src="./img/chev-bolt-2.jpg", alt="Chevrolet Boltv")
            h4.newsArticle-content-subtitle Обновленный снаружи, обновленный внутри.
            p.newsArticle-content-text Оговоримся сразу: о смене поколений речь не идет. В ходе рестайлинга (или как его еще называют, фейслифтинга), Chevrolet Bolt сохранил прежнюю платформу и кузов, а отличия скрываются только в деталях. У него новые бамперы спереди и сзади, новая оптика и иная передняя решетка. 
            p.newsArticle-content-text Внутри обновлений больше: интерьер действительно можно назвать полностью новым. Новая панель, рулевое колесо, передние кресла и 10,2-дюймовый экран мультимедийной панели. Изменился даже алгоритм управления режимами движения - теперь “паркинг” “драйв”, “нейтраль” и “реверс” включаются кнопками.
            p.newsArticle-content-text Новые позиции в списке оснащения - вентиляция передних кресел и подогрев переднего и заднего рядов у хэтчбека, и опционная панорамная крыша для кроссовера.
            img.newsArticle-content-img(src="./img/chev-bolt-3.jpg", alt="Chevrolet Boltv")
            h4.newsArticle-content-subtitle Обновленный “софт”.
            p.newsArticle-content-text Кроссовер Chevrolet Bolt EUV одним из первых получил автопилот второго уровня - систему Super Cruise. Правда, пока пользоваться им можно только в США и Канаде, на специально “оцифрованных” дорогах, где электронный ассистент знает все до деталей. 
            p.newsArticle-content-text На остальных дорогах пока придется довольствоваться ассистентами попроще. Хотя как сказать: семейство Bolt 2021 года имеет целый пакет электронных систем безопасности: удержание в полосе, автоматическое переключения с дальнего света на ближний, обнаружение пешеходов, предупреждение о лобовом столкновении, индикатор дистанции и автоматическое экстренное торможение.
            img.newsArticle-content-img(src="./img/chev-bolt-4.jpg", alt="Chevrolet Boltv")
            h4.newsArticle-content-subtitle “Одна педаль” и большие пробеги на одной зарядке.
            p.newsArticle-content-text Всем известно, что рекуперация - это большой плюс для электрокаров. Ведь каждый раз, когда вы отпускаете педаль “газа”, электромотор начинает работать как генератор - и заряжает батарею. А для того, чтобы делать это эффективнее, обновленный Bolt получил систему “одна педаль”. Теперь, после отпускания “газа”, он замедляется интенсивнее, вплоть до полной остановки. Это позволяет ездить в обычных режимах вообще без касания педали тормоза.
            img.newsArticle-content-img(src="./img/chev-bolt-5.jpg", alt="Chevrolet Boltv")
            p.newsArticle-content-text И в сочетании с батареей увеличенной емкости (с 60 до 65 кВт ч), которую Bolt получил в прошлом году, это позволяет добиться приличных пробегов на одной зарядке. У хэтчбека он составляет 416 км, у более высокого и массивного кроссовера EUV - 402 км.
            p.newsArticle-content-text Также появился зарядный шнур Dual Level Charge со сменной вилкой для разных типов зарядок. И если это мощная станция, хэтчбек Bolt за 30 минут набирает 161 км пробега, а кроссовер - 153 км.
            img.newsArticle-content-img(src="./img/chev-bolt-6.jpg", alt="Chevrolet Boltv")
            p.newsArticle-content-text Заинтересовались? Тогда пишите, звоните, приезжайте в ИнкоАвто. Подберем, доставим, растаможим и отправим в любой регион СНГ!
