.newsArticle{
    .container{
        max-width: 786px;
        padding: 0 15px;
        .title{
            width: 90%;
            @include media-custom(800px){
                width: 100%;
            }
        }
        .newsArticle-content{
            &-subtitle{
                width: 63%;
                margin-top: 3%;
                margin-bottom: 4%;
                @include Card-bold;
                text-align: left;
                @include media-custom(800px){
                    width: 100%;
                }
                @include media-custom(600px){
                    font-size: 20px;
                }
            }
            &-subtitle:first-of-type{
                margin-top: 0;
            }
            &-text{
                margin-bottom: 4%;
            }
            &-img{
                width: 100%;
                height: 447px;
                object-fit: cover;
                object-position: center;
                filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
                border-radius: 10px;
                margin-bottom: 4%;
                @include media-custom(800px){
                    height: 300px;
                    margin-bottom: 5px;
                }
                @include media-custom(500px){
                    height: 200px;
                }
            }
        }
    }
}