section.questionForm 
     .container 
        form#form-question.questionForm-form 
            img.questionForm-form-img(src="./img/question-form.jpg",  loading="lazy", alt="form image")
            .questionForm-form-group 
                h4.questionForm-form-title Задать вопрос
                h5.questionForm-form-subtitle Если Вы не нашли ответ на вопрос, заполните форму
                .input-croup
                    input#name-question.questionForm-form-input.invalid(type="text", name="name", placeholder="Имя" data-name="Имя")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                .input-croup
                    input#telephone-question.questionForm-form-input.invalid(type="tel", name="telephone", placeholder="Телефон")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                .input-croup
                    textarea#message-question.questionForm-form-textarea.invalid(name="message", data-name="Место для новой зарядной станции" cols="30", rows="10", placeholder="Ваш вопрос" )
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                label.custom__checkbox.invalid(for='checkbox-question') Я принимаю пользовательское соглашение
                    input#checkbox-question(type='checkbox' name='checkbox-question')
                    span.checkmark

                input.btn(type="submit", value="Отправить")