.testDrive{
    .container{
        .testDrive-form{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 8.7% 0;
            .testDrive-form-img{
                width: 48%;
                object-fit:cover;
                object-position:center;
                filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
                @include media-custom(900px){
                    display: none;
                }
            }
            &-group{
                display: flex;
                width: 52%;
                flex-direction: column;
                justify-content: center;
                padding: 3.8% 8% 4% 8%;
                box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
                @include media-custom(1200px){
                    padding: 3.8% 3% 4% 3%;
                }
                @include media-custom(900px){
                    width: 80%;
                    margin: 0 auto;
                    background-image: url('../img/test-drive-form.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                @include media-custom(700px){
                    width: 95%;
                }
            }
            &-title{
                @include Title ;
                font-size: 25px;
                text-align: center;
                line-height: 1.8;
                margin-bottom: 40px;
                @include media-custom(900px){
                    color:$text-1;
                }
                @include media-custom(600px){
                    font-size: 20px;
                }
            }
            &-input{
                width: 100%;
                padding: 17px 32px;
                margin-bottom: 15px;
                box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
                border-radius: 43px;
            }
            .select-group{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                margin-top: 10px;
                justify-content: space-evenly;
                @include media-custom(900px){
                    color: $text-2;
                    .select-selected{
                        color: $text;
                    }
                }
            }
            .custom__checkbox{
                @include media-custom(900px){
                    color: $text-2;
                    .checkmark:after{
                        left: 20%;
                        top: 20%;
                    }
                }
            }
            .btn{
                cursor: pointer;
                margin-top: 10px;
            }
            .btn:hover{
                background-color: #fff;
                color:$hover-text;
            }
            
        }
    }
}