.contacts{
    background-color: $header-bg;
    color:$text-2;
    padding: 30px 0;
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include media-custom(800px){
           justify-content: center;  
        }
        .logo{
            @include media-custom(800px){
               margin-bottom: 20px;
             }
        }
        .copyright{
            align-self: flex-end;
            @include media-custom(900px){
                order: 2;
                width: 100%;
                margin-top: 15px;
               text-align: center;
                 }
        }
        .contacts-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @include media-custom(800px){
               width: 100%;
              }
              @include media-custom(510px){
              justify-content: center;
               }
            li{
                margin-left: 15px;
                @include Buttons-text;
                @include media-custom(510px){
                    margin-left: 5%;
                     }
            }
            .contacts-list-item{
               span{
                transition: 0.4s ease-in;
               } 
                svg{
                    @include media-custom(400px){
                        width: 25px;
                       }
                    path{
                        transition: 0.4s ease-in;
                    }
                }
            }
            .contacts-list-item:hover{
                svg{
                    path{
                        fill:$hover-text;
                    }
                }
                span{
                    color:$hover-text;
                }
            }
            .contacts-list-btn{
                @include media-custom(510px){
                    width: 100%;
                    margin-top: 15px;
                    margin-left: 0;
                   }
                .btn{
                    padding: 10px 26px;
                }
                
            }
        }
    }
}