nav.nav
    .container
        ul.nav-menu 
            li
                a(href="/") Главная cтраница
            li
                a(href="catalog.html") Каталог автомобилей
            li
                a(href="charging-network.html") Сеть зарядных станций
            li
                a(href="question.html") Вопрос-ответ
            li
                a(href="info.html") Полезная информация