.nav{
    background-color: $nav-bg;
    padding: 15px 0;
    @include Nav-text;
    .container{
        .nav-menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media-custom(600px){
               flex-wrap: wrap;
               justify-content: center;
                 }
            li{
                padding: 0 10px;
                transition: color 0.4s ease-in;
                @include media-custom(600px){
                    padding: 10px;
                      }
            }
            li:hover{
                color:$text-1;
            }
        }
    }
}