/*Global styles*/
*,
*::before,
*::after {
    box-sizing: inherit;
}
*:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    @include Card-text;
    font-size: 15px;
    line-height: 1.3;
}
a {
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;

}
button{
    cursor: pointer;
}
button:hover{
    transition: 0.4s ease-in;
    transform: scale(1.1);
}
input{
    border: none;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    @include media-custom(1250px){
        max-width: 90%;
    }
    @include media-custom(600px){
        max-width: 95%;
    }
}
/*Styles for PUG mixins*/

/*Buttons*/

.btn{
    display: inline-block;
    position: relative;
    padding: 17px 26px;
    background: $gradient;
    color:$text-2;
    box-shadow: 0px 9px 48px rgba(24, 220, 109, 0.15);
    border-radius: 43px;
    @include Buttons-text;
    opacity: 1;
    span{
        position: relative;
        z-index: 2;
    }
}
.btn.red{
    background: $gradient-2;
}
.btn::before{
    content: '';
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 43px;
    background: #fff;
    z-index: 1;
    opacity: 0;
    transition: 0.4s ease-in;
    border:1px solid $hover-text;
}
.btn:hover::before, .btn:hover span{
    opacity: 1;
    color:$hover-text;
}
.btn.red::before{
    border:1px solid $text-1;
}
.btn.red:hover::before, .btn.red:hover span{
    color:$text-1;
}

/*Titles*/

.title{
    padding-top: 8.3%;
    padding-bottom:6%;
    @include Title;
    @include media-custom(900px){
        text-align: center;
    }
}

/*Cards*/

.card{
    padding-bottom: 37px;
    box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
    @include Card-bold;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    .card-img{
        width: 100%;
        height: 217px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
        object-position: center center;
    }
    .card-title{
        padding:  33px 0 26px 0;
        @include media-custom(600px){
            padding:  18px 0 16px 0;
        }
    }
    .card-list{
        padding: 0 34px 0 37px;
        @include media-custom(600px){
            padding: 0 14px 0 17px;
        }
        li{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-size: 18px;
            @include media-custom(600px){
                font-size: 15px;
                margin-bottom: 15px;
            }
            img{
                margin-right: 14px;
            }
            span{
                width: 40%;
                margin-left: auto;
                @include Card-text;
                @include media-custom(600px){
                    font-size: 15px;
                }
            }
        }
        li:first-of-type{
            img{
                margin-right: 20px;
            }
        }
    }
    .btn{
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}
.card:hover{
transform: scale(1.02);
}

/*Info Cards*/
.inform-card{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 330px;
    img{
        width: 48%;
        height: 100%;
        object-fit:cover;
        object-position:center;
        filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
        border-radius: 10px;
    }
    &-content{
        width: 46%;
    }
    &-title{
        @include Card-bold;
        text-align: left;
        line-height: 1;
        a{
            transition: color 0.2s ease-in;
        }
        a:hover{
            color:$hover-text;
        }
    }
    &-text{
        @include Nav-text;
        line-height: 1.3;
        text-align: left;
        margin: 16px 0;
    }
    .btn{
        width: 263px;
    }
}
/*Global styles for form*/
.input-croup{
    position: relative;
    input.input-error, textarea.input-error.invalid{
        border: 1px solid $text-1;
    }
    input.input-error::placeholder, textarea.input-error.invalid::placeholder{
        color: $text-1;
    }
    .hidden {
        display: none;
    }
    .icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 17%; 
        right: 10px;
        pointer-events: none;
        z-index: 2;
    }
    textarea ~ .icon{
        top: 5%; 
    }
    .icon.icon-success {
        fill: $hover-text;
  }
      
  .icon.icon-error {
        fill:$text-1;
  }
  .error-message{
    position: absolute;
    bottom:2%;
    left: 5%;
    color: $text-1;
    font-size: 14px;
}
}
/*************************Custom checkbox****************************/

    .custom__checkbox{
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 13px;
        cursor: pointer;
        user-select: none;
        color: inherit;
        margin-bottom: 15px;
        padding-left: 40px;
    }
    .custom__checkbox input{
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        cursor: pointer;
    }
    .custom__checkbox .checkmark{
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius:50%;
        border: 2px solid #C6C5C5;
        background-color: #ffffff;
    }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .custom__checkbox input:checked ~.checkmark:after {
        display: block;
      }
     
      .custom__checkbox.error{
          color: red;
      }
      .custom__checkbox .checkmark:after {
        left: 25%;
        top: 20%;
        width: 8px;
        height: 8px;
        border-radius:50%;
       background-color: #C6C5C5;
       
      }

      /**********************Custom Select*********************/
  .custom-select {
    width: 180px;
    margin: 5px;
    position: relative;
   @include Text;
    border: none;
    color:inherit;
  }
  .custom-select.error{
    color:red;
  }
  .custom-select select {
    display: none; 
  }
  .select-selected {
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  }
  .select-selected:after {
    position: absolute;
    content: "";
   bottom:25%;
    right: 22px;
    width: 10px;
    height: 10px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  .select-selected.select-arrow-active{
    border-radius: 10px 10px 0 0 ;
  }
  .select-selected.select-arrow-active:after {
    border-width:  1px 0 0 1px ;
    bottom:20%;
  }
  .select-items{
    border-radius: 0 0 10px 10px;
  }
  .select-items div{
    padding: 5px 15px 5px 15px;
  }
  .select-items div,.select-selected {
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }  
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/*Success mesage*/
.success-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    img{
        width: 98px;
        height: 98px;
        margin-bottom: 30px;
    }
    p{
        padding: 10px;
       @include Card-bold;
      .close{
        margin-top: 10px;
        color:$hover-text;
        cursor: pointer;
        transition: color 0.3s ease-in;
      }
      .close:hover{
        color: $text-1;
      }
    }
   
   
}