/*File for variables*/

/*Colors*/
$header-bg:#172027;
$nav-bg:#F2F2F3;
$text:#0F0F10;
$text-1:#E31E24;
$text-2:#FFFFFF;
$hover-text:#18DC6D;
$input-text:#C6C5C5;
$outline:#18DE6E;
$gradient:linear-gradient(360deg, #077A34 0%, #19E270 100%);
$gradient-2:linear-gradient(360deg, #A8180F 0%, #DD463D 100%);