.electromob{
    position: relative;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color:$text-2;
    @include media-custom(800px){
        background-image: url('../img/hero-bg-mobile.jpg');
        background-position: center center;
    }
    .container{
        position: relative;
        z-index: 5;
        .electromob-info{
            padding-top: 18%;
            padding-bottom: 16%;
            max-width: 580px;
            @include media-custom(800px){
                max-width: 100%;  
            }
            &-title{
                margin-bottom: 20px;
                @include Buttons-text;
                font-size: 44px;
                text-align: left;
                @include media-custom(800px){
                   text-align: center;
                }
                @include media-custom(550px){
                    font-size: 30px;
                }
            }
            &-text{
                max-width: 487px;
                margin-bottom: 22px;
                @include Text;
                font-size: 26px;
                @include media-custom(800px){
                    max-width: 100%; 
                    text-align: center; 
                }
                @include media-custom(550px){
                    font-size: 18px;
                }
            }
            .btn{
              margin-right: 46px;
              width: 45%;
              @include media-custom(550px){
                width:290px;
                display: block;
                margin: 0 auto;
                padding: 12px;
             }
            }
            .btn:last-of-type{
                margin: 0;
                @include media-custom(550px){
                    margin: 20px auto 0;
                }
            }
        }
        .electromob-icons{
            display: flex;
            padding-bottom: 7%;
            align-items: center;
            justify-content: space-between;
            @include media-custom(1000px){
              flex-wrap: wrap;
              justify-content: space-around;
            }
            &-item{
                display: flex;
                width: 280px;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                p{
                  margin-left: 20px;
                  @include Text;
                }
            }
            &-item:first-of-type{
                margin-right: 50px;
                @include media-custom(620px){
                    margin-right: 0;
                }
            }
        }
    }
}
.electromob::before{
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(81.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%);
z-index: 1;
}
