section.electromob 
    .container 
        .electromob-info 
            h1.electromob-info-title Электромобили в Липецке в наличии
            p.electromob-info-text Узнайте, как использовать самый экологичный автомобиль в повседневной жизни
            +button('Тест драйв','#','')
            +button('Аренда электромобиля','#','red')
        .electromob-icons 
            .electromob-icons-item 
                img(src="./img/community-icon.svg", alt="community icon")
                p Приобщись к сообществу любителей современных экологичных  автомобилей
            .electromob-icons-item
                img(src="./img/info-icon.svg", alt="info icon")
                p Полезная информация об электромобилях
            .electromob-icons-item
                img(src="./img/battery-icon.svg", alt="battery icon")
                p Развитая сеть зарядных устройств
