doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.min.css")
        title Электромобили
    body 
        include ./modules/mixins/button
        include ./modules/mixins/title
        include ./modules/mixins/card

        include ./modules/header/header
        include ./modules/index-sec1/sec1
        include ./modules/index-sec2/sec2
        include ./modules/index-sec3/sec3
        include ./modules/index-sec4/sec4
        include ./modules/index-sec5/sec5
        include ./modules/footer/footer
        
        
        script(src="./js/main.min.js") 