.catalog{
    .container{
        .catalog-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            .card{
                width: 368px;
                margin: 0 2px 20px;
                @include media-custom(1250px){
                    width: 45%;
                }
                @include media-custom(850px){
                    width:75%;
                    .card-img{
                        height: 300px;
                    }
                }
                @include media-custom(600px){
                    width: 95%;
                    .card-img{
                        height: 250px;
                        @include media-custom(400px){
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
  
}