.catalog{
    .container{
        .catalog-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .card{
                width: 368px;
                margin-bottom: 20px;
            }
        }
    }
  
}