.catalog{
    .container{
        .catalog-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .card{
                width: 368px;
                margin-bottom: 20px;
            }
        }
    }
    .catalog-pageNum{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 7%;
        .catalog-num{
            width: 73px;
            height: 73px;
            border-radius: 50%;
            background-color: $input-text;
            @include Card-bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 18px;
            cursor:pointer;
        }
        .catalog-num.active{
            background-color: $text;
            color: $text-2;
        }
    }
}