section.catalog 
    .container 
        +title('Каталог электромобилей')
        .catalog-cards 
            +card('BMW.jpg','2019 BMW i3','rwd','350 км + ДВС','5177 миль','2019','15800 $')
            +card('tesla.jpg','2018 Tesla Model 3 Mid','rwd','420 км','15534 миль','2018','16800 $')
            +card('chevrolet.jpg','2016 Chevrolet Volt II','fwd','85 км + ДВС','26097 миль','2016','16800 $')

            +card('tesla-modelS60-2013.jpg','2013 Tesla Model S60','rwd','320 км','146022 миль','2013','25500 $')
            +card('BMW-I3.jpg','2014 BMW i3 REX','rwd','130 км + ДВС','70214 миль','2014','15800 $')
            +card('tesla-modelS60-2014.jpg','2014 Tesla Model S60','fwd','320 км','51822 миль','2014','27500 $')

            +card('tesla-mX-2016.jpg','2016 Tesla Model X','awd','467 км','34796 миль','2016','68000 $')
            +card('chev-bolt-2017.jpg','2017 Chevrolet Bolt','fwd','380 км','27340 миль','2017','20900 $')
            +card('fiat-500e-2016.jpg','2017 Fiat 500e','fwd','160 км','31563 миль','2017','12500 $')

            +card('BMW-I3-2018.jpg','2018 BMW i3 REX','rwd','250 + 150 км','4225 миль','2018','27900 $')
            +card('tesla-m3-2018.jpg','2018 Tesla Model 3 Mid','rwd','420 км','33864 миль','2018','37700 $')
            +card('chev-bolt-2017.jpg','2017 Chevrolet Bolt','fwd','420 км','34610 миль','2017','22900 $')

            +card('nissan-leaf.jpg','2014 Nissan Leaf','fwd','120 км','68350 миль','2014','9500 $')
            +card('byd.jpg','2015 BYD E6','rwd','300 км','80778 миль','2015','8500 $')
            +card('audi-eTron.jpg','2019 Audi e-Tron','awd','446 км','13000 миль','2019','16800 $')
        include ../pagination/pagination