section.testDrive 
    .container 
        form#form-callback.callback-form 
            img.callback-form-img(src="./img/callback-form.jpg",  loading="lazy", alt="form image")
            .callback-form-group 
                h4.callback-form-title Заказать обратный звонок
                .input-croup
                    input#name-callback.callback-form-input.invalid(type="text", name="name", placeholder="Имя" data-name="Имя")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                .input-croup
                    input#telephone-callback.callback-form-input.invalid(type="tel", name="telephone", placeholder="Телефон")
                    svg.icon.icon-success.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                    svg.icon.icon-error.hidden(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
                label.custom__checkbox.invalid(for='checkbox-callback') Я принимаю пользовательское соглашение
                    input#checkbox-callback(type='checkbox' name='checkbox-callback' )
                    span.checkmark
                input.btn(type="submit", value="Отправить")
