section.aboutCar 
    .container 
        .aboutCar-images
            .aboutCar-images-main 
                img.main-img(src="./img/tesla.jpg",  loading="lazy", alt="2018 Tesla Model 3 Mid Range")
            .aboutCar-images-description
                h3.aboutCar-images-title 2018 Tesla Model 3 Mid Range
                ul.aboutCar-images-list 
                    li
                        span Марка
                        span Tesla
                    li
                        span Модель
                        span Model 3 Mid Range
                    li
                        span Тип кузова
                        span лифтбек
                    li
                        span Вид
                        span Электромобиль
                    li
                        span Двигатель
                        span -
                    li
                        span Мощность
                        span 258 л.с.
                    li
                        span Батарея
                        span 66 квт/ч
                    li
                        span Запас хода(NEDC/EPA/WLTP)
                        span 420 км.
                    li
                        span Время зарядки(220В/380В/DC)
                        span 9,5ч./--/--
                    li
                        span Разгон 0-100 км/ч
                        span 5,6 сек.
                    li
                        span Максимальная скорость
                        span 201 км/ч

            .aboutCar-images-carusel 
                img.prev(src="./img/prev.svg",  loading="lazy", alt="previous")
                img.next(src="./img/next.svg",  loading="lazy", alt="next")
                img.carusel-item(src="./img/tesla-1.jpg",  loading="lazy", alt="tesla photo 1")
                img.carusel-item(src="./img/tesla-2.jpg",  loading="lazy", alt="tesla photo 2")
                img.carusel-item(src="./img/tesla-3.jpg",  loading="lazy", alt="tesla photo 3")
                img.carusel-item(src="./img/tesla-4.jpg",  loading="lazy", alt="tesla photo 4")
                img.carusel-item(src="./img/tesla-1.jpg",  loading="lazy", alt="tesla photo 1")
                img.carusel-item(src="./img/tesla-2.jpg",  loading="lazy", alt="tesla photo 2")
                img.carusel-item(src="./img/tesla-3.jpg",  loading="lazy", alt="tesla photo 3")
                img.carusel-item(src="./img/tesla-4.jpg",  loading="lazy", alt="tesla photo 4")
               
                
        .aboutCar-text
            h3.aboutCar-text-title Описание
            p TESLA MODEL 3 Mid Range
            p Автомобиль прибыл из Америки, Без пробега по РБ. Машина в отличном состоянии как внешне, внутри, так и технически. Оригинальный пробег всего 25000км.
            p Очень динамичный и вместительный электромобиль. Разгон до 100км за 5.6сек. Конец 2018 года, на процессоре Intel. Запас хода в среднем 420км, зарядка от CHADEMO 1 час 30 минут, зарядка от сети 220 около 9.5часов. Ёмкость Батареи 66kВт. Максимальная скорость 200км\ч.
            p Хорошая комплектация: кожаный салон, Подогревы сидений передних, климат контроль, бесключевой доступ, центральный замок, электро стекла и электро зеркала, складывания зеркал, датчик света и дождя, литые диски R19, порт быстрой зарядки CHADEMO, камера заднего вида, автопарковка, круиз контроль, заводская сигнализация, ABS и др. опции. 
        .aboutCar-buttons 
            +button('Записаться на Тест драйв','test-drive.html','')
            +button('Взять в аренду','rent-form.html','red')